@font-face {
    font-family: EuropaGrosteskSH;
    src: url("./assets/fonts/EuropaGroteskSH-MedExt.otf") format("opentype");
  }



.item{
    display:inline-block;
    font-size:14px;
    font-family: 'Inter';
    line-height: 32px;
font-weight: 600;
color:white;
margin-right:14px;
padding:14px;
cursor:pointer

}

.item:hover{
    background-color:#7f7f7f;
    border-radius:3px;
}

.logo{
height:32px;
display:inline-block;
padding:14px 0px;
vertical-align: top;
}

nav{
   padding-top:20px;
   padding-bottom:20px;
   width:100%;
   position:fixed;
   z-index: 1;
   align-items: start;
   background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.359375) 70.83%, rgba(0, 0, 0, 0) 100%);
   top:0;
   left:0;
   z-index:1;
}

.nav-right{
    float:right;
    margin-right:56px;
    padding:14px;
}
.nav-left{
    display:inline-block;
   margin-left:56px;
  vertical-align: middle;
}   
.nav-icon{
    width:24px;
    height:24px;
    display:inline-block;
    margin-left:12px;
    padding-top:8px;
    padding-bottom:8px;
}

.divider{
    display:inline-block;
    width:1px;
    height:24px;
    background-color:white;
margin-left:12px;
padding-top:8px;
padding-bottom:4px;
}

.header-image{
 width:100%;
height:auto;
}

.header-video{
    width: 100%;
  height: 100%;
  left:0;
  bottom:0;
  object-fit: cover;
  position: absolute;
   border-radius: 6px;
    opacity: 0;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
   }

.header-video:hover{
opacity:1
}

.header-container{
    color:#ffffff;
    position:relative;
    height:auto;
    display:block;
}

.header-info{
    position:absolute;
    left:56px;
    bottom:80px;
    width:calc(100vw - 112px)

}

.date{
    font-family:'Inter';
    font-size: 18px;
    font-weight:600;
}

.header-title{
    font-family: 'EuropaGrosteskSH';
    font-weight:400;
    font-size: 72px;
    text-transform: uppercase;
    line-height:1em;
    letter-spacing:1;
    margin-top:10px;
}

.time{
    position: relative;
padding-left:56px;
}

.label{
    padding:4px;
    background-color: #CDFF38;
    color: #222529;
    width:42px;
    font-weight: 600;
    font-family: 'Inter';
    font-weight:700;
font-size: 10px;
text-transform: uppercase;
border-radius: 3px;
position:absolute;
left:0px;
}

.avatar{
    width: 56px;
height: 56px;
margin-right: 12px;
display:inline;
}

.instructor{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 54px;
letter-spacing: -0.01em;
display:inline;
}

.instructorAvatar{
    display: flex;
    justify-content: left;
    margin-top:12px;
    margin-bottom:16px;

}

.primary{
height: 48px;
width: 280px;
left: 0px;
right: 0px;
top: calc(50% - 48px/2);
background: #FFFFFF;
border-radius: 3px;
border:none;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
text-transform: uppercase;
color:#0c0c0c;
margin-right: 24px;
display:block;
}

.secondary{
    background:none;
    color:white;
    height: 48px;
width: 280px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-transform: uppercase;
display:block;
justify-content: center;
}



.btn-group {
    padding-top:24px;
    display: flex;
    justify-content: left;
}

#grad{
    height:400px;
    width:100vw;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.64) 51.95%, #000000 100%);
    position:absolute;
    bottom:0;
    left:0
}

#grad2{
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.icon{
    height: 16px;
    width:16px;
    margin-right:8px;

}

.row-container{
    position: relative;
    width:calc(50% - 6px);
        float:left;
        margin-bottom: 20px;
    }
.thumbnail-info{
    color:#ffffff;
    position:absolute;
    left:16px;
    bottom:24px;
}

.thumbnail{
    width:100%;
    height:auto;
    border-radius: 6px;
}

.col{
    width:75vw;
    margin:auto;
    margin-top:20px;
    padding-bottom:120px;
}
.class-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1em;
    padding-top:10px;
}

.text-sm{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 14px;
padding-top:8px;
}

.text-sm-1{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 14px;
padding-top:8px;
text-transform: uppercase;
}


.int{
    width: 10px;
height: 10px;

background: #FACB3E;
border-radius: 2px;
 display: inline-block;
 margin-right:8px;
}

.beg{
    width: 10px;
height: 10px;

background: #50C4AA;
border-radius: 2px;
 display: inline-block;
 margin-right:8px;
}


.hard{
    width: 10px;
height: 10px;

background: #FC820F;
border-radius: 2px;
 display: inline-block;
 margin-right:8px;
}

.diff-text{
display: inline-block;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 12px;
align-items: center;
letter-spacing: 0.8px;
text-transform: uppercase;
}

.mute{
    position:absolute;
    bottom:0px;
    right:0px;
    width:60px;
    height:60px;
      border: 1px solid #FFFFFF;
    border-radius: 999px;
    cursor: pointer;
   
}
